{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Створення запису реєстрації резервних копій
 {% endblock %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="py-4">

            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Налаштування</h1>
                </div>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                     <h2>Зміна паролю</h2>
                        <form method="post" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            {{ password_form }}
                            <br>
                           <p> <button type="submit" class="btn btn-primary">Змінити пароль</button></p>
                        </form>
                </div>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                     <h2>Угода користувача</h2>


                             <form method="post" action="{% url 'user_agreemen_update' %}">
                                 {% csrf_token %}

                                    <textarea name="text" id="mytextarea">{{ agreement_text }}</textarea>


                                 <br>
                                  <button type="submit"  class="btn btn-primary">Зберегти</button>
                             </form>



                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}
