{% extends "layouts/base.html" %}
{% load static %}
{% load display_view %}
{% block title %}  Журнал реєстрації резервних копій {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}



        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">

                </nav>
                <h2 class="h4">Підписання звіту</h2>

            </div>
        </div>

{% if invite.jurnal == 'record_seals_stamp_safe' %}

    <table id="user_list" style="width:100%">
        <thead>
            <tr>
                <th>№ з\п</th>
                <th>№, відбиток індивідульної печатки</th>
                <th>№ сейфа</th>
                <th>Дата видачі, реєстрації</th>
                <th>Підпис</th>
            </tr>
        </thead>
        <tbody>
                <td>{{record.id }}</td>
                <td>{{record.numbers_imprint_individual_seal }}</td>
                <td>{{record.number_safe}}</td>
                <td>{{record.registration_issue_date|date:'Y-m-d'}}</td>
                <td>
                    <form action="">
                        <input type="file">
                        <input type="submit" value="Підписати">
                    </form>
                </td>
        </tr>
        </tbody>
    </table>

{% endif %}



    {% if invite.jurnal == 'backup_registration_log' %}

    <table id="user_list" style="width:100%">
        <thead>
            <tr>
                <th>НП</th>
                <th>№ НОСІЯ ІНФОРМАЦІЇ З РЕЗЕРВНОЮ КОПІЄЮ</th>
                <th>Підпис</th>
            </tr>
        </thead>
        <tbody>
                <td>{{record.id }}</td>
                <td>{{record.number_device_beckup_info }}</td>

                <td>
                    <form action="">
                        <input type="file">
                        <input type="submit" value="Підписати">
                    </form>
                </td>
        </tr>
        </tbody>
    </table>

{% endif %}






    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
