{% extends "layouts/base-fullscreen.html" %}

{% block title %} Вхід {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Вхід в кабінет 
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        <span style="color: #f62625">{{ msg | safe }}</span>
                                    {% else %}
                                       
                                    {% endif %}                                     
                                </p>    
                            </div>

                            <form method="post" action="" class="mt-4">
                                
                                {% csrf_token %} 

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Пошта</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-user-circle"></span></span>
                                        {{ form.email }}
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Пароль</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password }}
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                    <p><input type="checkbox" name="read_rule" oninvalid="this.setCustomValidity('Підтвердіть прочитання умов використання')" oninput="setCustomValidity('')" required>
                                       Підтверджую що прочитав  <a style="color: #0c85d0"  data-toggle="modal" data-target="#modal-default"> умови використання</a>
                                     
                                  </p>

                                </div>
                                <button type="submit" name="login" class="btn btn-block btn-primary">Вхід</button>
                            </form>

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                  Кабінет електроних журналів КНЕДП 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Modal Content -->
                                <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="h6 modal-title">Умови використання</h2>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ agreement_text|safe }}
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Прочитано</button>
{#                                                <button type="button" class="btn btn-link text-danger ml-auto" data-dismiss="modal">Close</button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
